// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.1.0.34.2
// Netlist written on Mon Sep  2 13:41:37 2024
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/zoeworrall/desktop/projects_lrs/lab01/source/impl_1/led_control.sv"
// file 1 "c:/users/zoeworrall/desktop/projects_lrs/lab01/source/impl_1/seven_segment.sv"
// file 2 "c:/users/zoeworrall/desktop/projects_lrs/lab01/source/impl_1/top.sv"
// file 3 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ice40up.v"
// file 4 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ice40up.vhd"
// file 5 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 6 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 7 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 8 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 9 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 10 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 11 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 12 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 13 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 14 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 15 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 16 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 17 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 18 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 19 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 20 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 21 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 22 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 23 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 24 "c:/lscc/radiant/2024.1/ip/common/adder/rtl/lscc_adder.v"
// file 25 "c:/lscc/radiant/2024.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 26 "c:/lscc/radiant/2024.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 27 "c:/lscc/radiant/2024.1/ip/common/counter/rtl/lscc_cntr.v"
// file 28 "c:/lscc/radiant/2024.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 29 "c:/lscc/radiant/2024.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 30 "c:/lscc/radiant/2024.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 31 "c:/lscc/radiant/2024.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 32 "c:/lscc/radiant/2024.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 33 "c:/lscc/radiant/2024.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 34 "c:/lscc/radiant/2024.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 35 "c:/lscc/radiant/2024.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 36 "c:/lscc/radiant/2024.1/ip/common/rom/rtl/lscc_rom.v"
// file 37 "c:/lscc/radiant/2024.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 38 "c:/lscc/radiant/2024.1/ip/pmi/pmi_add.v"
// file 39 "c:/lscc/radiant/2024.1/ip/pmi/pmi_addsub.v"
// file 40 "c:/lscc/radiant/2024.1/ip/pmi/pmi_complex_mult.v"
// file 41 "c:/lscc/radiant/2024.1/ip/pmi/pmi_counter.v"
// file 42 "c:/lscc/radiant/2024.1/ip/pmi/pmi_dsp.v"
// file 43 "c:/lscc/radiant/2024.1/ip/pmi/pmi_fifo.v"
// file 44 "c:/lscc/radiant/2024.1/ip/pmi/pmi_fifo_dc.v"
// file 45 "c:/lscc/radiant/2024.1/ip/pmi/pmi_mac.v"
// file 46 "c:/lscc/radiant/2024.1/ip/pmi/pmi_mult.v"
// file 47 "c:/lscc/radiant/2024.1/ip/pmi/pmi_multaddsub.v"
// file 48 "c:/lscc/radiant/2024.1/ip/pmi/pmi_multaddsubsum.v"
// file 49 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dp.v"
// file 50 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dp_be.v"
// file 51 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dq.v"
// file 52 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dq_be.v"
// file 53 "c:/lscc/radiant/2024.1/ip/pmi/pmi_rom.v"
// file 54 "c:/lscc/radiant/2024.1/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input reset, input [3:0]s, output [2:0]led, output [6:0]seg);
    
    (* is_clock=1, lineinfo="@2(30[11],30[18])" *) wire int_osc;
    
    wire GND_net, reset_c, s_c_3, s_c_2, s_c_1, s_c_0, n21, led_c_1, 
        led_c_0, seg_c_6, seg_c_5, seg_c_4, seg_c_3, seg_c_2, seg_c_1, 
        seg_c_0, led_c_24, n260, n18, n20, n22, n23, n24, n25, 
        n759, n726, VCC_net, n17, n16, n15, n14, n13, n12, 
        n11, n10, n9, n8, n7, n6, n5, n4, n3, n2, n756, 
        n300, n19, n738, n729, n753, n735, n106, n107, n108, 
        n109, n110, n111, n112, n113, n114, n115, n116, n117, 
        n118, n119, n120, n121, n122, n123, n124, n125, n126, 
        n127, n128, n129, n130, n316, n314, n312, n310, n308, 
        n306, n304, n302, n298, n296, n750, n294, n732, n747, 
        n744, n723, n741;
    
    VHI i2 (.Z(VCC_net));
    (* syn_instantiated=1 *) HSOSC_CORE hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b00";
    defparam hf_osc.FABRIC_TRIME = "DISABLE";
    (* lineinfo="@2(40[18],40[34])" *) seven_segment one_seg (s_c_1, s_c_3, 
            s_c_2, s_c_0, seg_c_1, seg_c_0, seg_c_3, seg_c_2, seg_c_4, 
            seg_c_5, seg_c_6);
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i1 (.D(n130), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n25));
    defparam counter_14__i1.REGSET = "RESET";
    defparam counter_14__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(48[31],48[42])" *) FA2 counter_14_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(n12), .D0(n306), .CI0(n306), .A1(GND_net), 
            .B1(GND_net), .C1(n11), .D1(n744), .CI1(n744), .CO0(n744), 
            .CO1(n308), .S0(n117), .S1(n116));
    defparam counter_14_add_4_15.INIT0 = "0xc33c";
    defparam counter_14_add_4_15.INIT1 = "0xc33c";
    VLO i1 (.Z(GND_net));
    (* lineinfo="@2(48[31],48[42])" *) FA2 counter_14_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(n14), .D0(n304), .CI0(n304), .A1(GND_net), 
            .B1(GND_net), .C1(n13), .D1(n741), .CI1(n741), .CO0(n741), 
            .CO1(n306), .S0(n119), .S1(n118));
    defparam counter_14_add_4_13.INIT0 = "0xc33c";
    defparam counter_14_add_4_13.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i24 (.D(n107), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n2));
    defparam counter_14__i24.REGSET = "RESET";
    defparam counter_14__i24.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@2(23[23],23[28])" *) LUT4 i95_1_lut (.A(reset_c), 
            .Z(n260));
    defparam i95_1_lut.INIT = "0x5555";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i23 (.D(n108), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n3));
    defparam counter_14__i23.REGSET = "RESET";
    defparam counter_14__i23.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i22 (.D(n109), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n4));
    defparam counter_14__i22.REGSET = "RESET";
    defparam counter_14__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i21 (.D(n110), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n5));
    defparam counter_14__i21.REGSET = "RESET";
    defparam counter_14__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i20 (.D(n111), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n6));
    defparam counter_14__i20.REGSET = "RESET";
    defparam counter_14__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i19 (.D(n112), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n7));
    defparam counter_14__i19.REGSET = "RESET";
    defparam counter_14__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i18 (.D(n113), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n8));
    defparam counter_14__i18.REGSET = "RESET";
    defparam counter_14__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i17 (.D(n114), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n9));
    defparam counter_14__i17.REGSET = "RESET";
    defparam counter_14__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i16 (.D(n115), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n10));
    defparam counter_14__i16.REGSET = "RESET";
    defparam counter_14__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i15 (.D(n116), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n11));
    defparam counter_14__i15.REGSET = "RESET";
    defparam counter_14__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i14 (.D(n117), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n12));
    defparam counter_14__i14.REGSET = "RESET";
    defparam counter_14__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i13 (.D(n118), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n13));
    defparam counter_14__i13.REGSET = "RESET";
    defparam counter_14__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i12 (.D(n119), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n14));
    defparam counter_14__i12.REGSET = "RESET";
    defparam counter_14__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i11 (.D(n120), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n15));
    defparam counter_14__i11.REGSET = "RESET";
    defparam counter_14__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i10 (.D(n121), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n16));
    defparam counter_14__i10.REGSET = "RESET";
    defparam counter_14__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i9 (.D(n122), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n17));
    defparam counter_14__i9.REGSET = "RESET";
    defparam counter_14__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i8 (.D(n123), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n18));
    defparam counter_14__i8.REGSET = "RESET";
    defparam counter_14__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i7 (.D(n124), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n19));
    defparam counter_14__i7.REGSET = "RESET";
    defparam counter_14__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i6 (.D(n125), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n20));
    defparam counter_14__i6.REGSET = "RESET";
    defparam counter_14__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i5 (.D(n126), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n21));
    defparam counter_14__i5.REGSET = "RESET";
    defparam counter_14__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i4 (.D(n127), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n22));
    defparam counter_14__i4.REGSET = "RESET";
    defparam counter_14__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i3 (.D(n128), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n23));
    defparam counter_14__i3.REGSET = "RESET";
    defparam counter_14__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i2 (.D(n129), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(n24));
    defparam counter_14__i2.REGSET = "RESET";
    defparam counter_14__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(48[31],48[42])" *) FD1P3XZ counter_14__i25 (.D(n106), 
            .SP(VCC_net), .CK(int_osc), .SR(n260), .Q(led_c_24));
    defparam counter_14__i25.REGSET = "RESET";
    defparam counter_14__i25.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(48[31],48[42])" *) FA2 counter_14_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(n16), .D0(n302), .CI0(n302), .A1(GND_net), 
            .B1(GND_net), .C1(n15), .D1(n738), .CI1(n738), .CO0(n738), 
            .CO1(n304), .S0(n121), .S1(n120));
    defparam counter_14_add_4_11.INIT0 = "0xc33c";
    defparam counter_14_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@2(48[31],48[42])" *) FA2 counter_14_add_4_25 (.A0(GND_net), 
            .B0(GND_net), .C0(n2), .D0(n316), .CI0(n316), .A1(GND_net), 
            .B1(GND_net), .C1(led_c_24), .D1(n759), .CI1(n759), .CO0(n759), 
            .S0(n107), .S1(n106));
    defparam counter_14_add_4_25.INIT0 = "0xc33c";
    defparam counter_14_add_4_25.INIT1 = "0xc33c";
    (* lineinfo="@2(48[31],48[42])" *) FA2 counter_14_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(n4), .D0(n314), .CI0(n314), .A1(GND_net), 
            .B1(GND_net), .C1(n3), .D1(n756), .CI1(n756), .CO0(n756), 
            .CO1(n316), .S0(n109), .S1(n108));
    defparam counter_14_add_4_23.INIT0 = "0xc33c";
    defparam counter_14_add_4_23.INIT1 = "0xc33c";
    (* lineinfo="@2(48[31],48[42])" *) FA2 counter_14_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(n6), .D0(n312), .CI0(n312), .A1(GND_net), 
            .B1(GND_net), .C1(n5), .D1(n753), .CI1(n753), .CO0(n753), 
            .CO1(n314), .S0(n111), .S1(n110));
    defparam counter_14_add_4_21.INIT0 = "0xc33c";
    defparam counter_14_add_4_21.INIT1 = "0xc33c";
    (* lineinfo="@2(48[31],48[42])" *) FA2 counter_14_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(n8), .D0(n310), .CI0(n310), .A1(GND_net), 
            .B1(GND_net), .C1(n7), .D1(n750), .CI1(n750), .CO0(n750), 
            .CO1(n312), .S0(n113), .S1(n112));
    defparam counter_14_add_4_19.INIT0 = "0xc33c";
    defparam counter_14_add_4_19.INIT1 = "0xc33c";
    (* lineinfo="@2(48[31],48[42])" *) FA2 counter_14_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(n10), .D0(n308), .CI0(n308), .A1(GND_net), 
            .B1(GND_net), .C1(n9), .D1(n747), .CI1(n747), .CO0(n747), 
            .CO1(n310), .S0(n115), .S1(n114));
    defparam counter_14_add_4_17.INIT0 = "0xc33c";
    defparam counter_14_add_4_17.INIT1 = "0xc33c";
    (* lineinfo="@2(48[31],48[42])" *) FA2 counter_14_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(n18), .D0(n300), .CI0(n300), .A1(GND_net), 
            .B1(GND_net), .C1(n17), .D1(n735), .CI1(n735), .CO0(n735), 
            .CO1(n302), .S0(n123), .S1(n122));
    defparam counter_14_add_4_9.INIT0 = "0xc33c";
    defparam counter_14_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@2(48[31],48[42])" *) FA2 counter_14_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(n20), .D0(n298), .CI0(n298), .A1(GND_net), 
            .B1(GND_net), .C1(n19), .D1(n732), .CI1(n732), .CO0(n732), 
            .CO1(n300), .S0(n125), .S1(n124));
    defparam counter_14_add_4_7.INIT0 = "0xc33c";
    defparam counter_14_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@2(48[31],48[42])" *) FA2 counter_14_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(n22), .D0(n296), .CI0(n296), .A1(GND_net), 
            .B1(GND_net), .C1(n21), .D1(n729), .CI1(n729), .CO0(n729), 
            .CO1(n298), .S0(n127), .S1(n126));
    defparam counter_14_add_4_5.INIT0 = "0xc33c";
    defparam counter_14_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@2(43[16],43[41])" *) led_control one_cont (s_c_2, s_c_3, 
            led_c_1, s_c_0, s_c_1, led_c_0);
    (* lineinfo="@2(24[22],24[23])" *) IB \s_pad[0]  (.I(s[0]), .O(s_c_0));
    (* lineinfo="@2(24[22],24[23])" *) IB \s_pad[1]  (.I(s[1]), .O(s_c_1));
    (* lineinfo="@2(24[22],24[23])" *) IB \s_pad[2]  (.I(s[2]), .O(s_c_2));
    (* lineinfo="@2(24[22],24[23])" *) IB \s_pad[3]  (.I(s[3]), .O(s_c_3));
    (* lineinfo="@2(23[23],23[28])" *) IB reset_pad (.I(reset), .O(reset_c));
    (* lineinfo="@2(26[23],26[26])" *) OB \seg_pad[0]  (.I(seg_c_0), .O(seg[0]));
    (* lineinfo="@2(26[23],26[26])" *) OB \seg_pad[1]  (.I(seg_c_1), .O(seg[1]));
    (* lineinfo="@2(26[23],26[26])" *) OB \seg_pad[2]  (.I(seg_c_2), .O(seg[2]));
    (* lineinfo="@2(26[23],26[26])" *) OB \seg_pad[3]  (.I(seg_c_3), .O(seg[3]));
    (* lineinfo="@2(26[23],26[26])" *) OB \seg_pad[4]  (.I(seg_c_4), .O(seg[4]));
    (* lineinfo="@2(26[23],26[26])" *) OB \seg_pad[5]  (.I(seg_c_5), .O(seg[5]));
    (* lineinfo="@2(26[23],26[26])" *) OB \seg_pad[6]  (.I(seg_c_6), .O(seg[6]));
    (* lineinfo="@2(25[26],25[29])" *) OB \led_pad[0]  (.I(led_c_0), .O(led[0]));
    (* lineinfo="@2(25[26],25[29])" *) OB \led_pad[1]  (.I(led_c_1), .O(led[1]));
    (* lineinfo="@2(25[26],25[29])" *) OB \led_pad[2]  (.I(led_c_24), .O(led[2]));
    (* lineinfo="@2(48[31],48[42])" *) FA2 counter_14_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(n24), .D0(n294), .CI0(n294), .A1(GND_net), 
            .B1(GND_net), .C1(n23), .D1(n726), .CI1(n726), .CO0(n726), 
            .CO1(n296), .S0(n129), .S1(n128));
    defparam counter_14_add_4_3.INIT0 = "0xc33c";
    defparam counter_14_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@2(48[31],48[42])" *) FA2 counter_14_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(n25), .D1(n723), .CI1(n723), .CO0(n723), .CO1(n294), 
            .S1(n130));
    defparam counter_14_add_4_1.INIT0 = "0xc33c";
    defparam counter_14_add_4_1.INIT1 = "0xc33c";
    
endmodule

//
// Verilog Description of module seven_segment
//

module seven_segment (input s_c_1, input s_c_3, input s_c_2, input s_c_0, 
            output seg_c_1, output seg_c_0, output seg_c_3, output seg_c_2, 
            output seg_c_4, output seg_c_5, output seg_c_6);
    
    
    (* lut_function="(A (B (C+(D))+!B !((D)+!C))+!A !(B ((D)+!C)+!B !(C (D))))", lineinfo="@1(29[3],49[10])" *) LUT4 seg_c_1_I_0_4_lut (.A(s_c_1), 
            .B(s_c_3), .C(s_c_2), .D(s_c_0), .Z(seg_c_1));
    defparam seg_c_1_I_0_4_lut.INIT = "0x98e0";
    (* lut_function="(!(A (B+!(C (D)+!C !(D)))+!A !(B (C (D))+!B !(C+!(D)))))", lineinfo="@1(29[3],49[10])" *) LUT4 s_c_3_I_0_4_lut (.A(s_c_2), 
            .B(s_c_1), .C(s_c_3), .D(s_c_0), .Z(seg_c_0));
    defparam s_c_3_I_0_4_lut.INIT = "0x6102";
    (* lut_function="(A (B (D)+!B !(C+(D)))+!A !(B ((D)+!C)+!B (C+!(D))))" *) LUT4 i272_4_lut (.A(s_c_0), 
            .B(s_c_1), .C(s_c_3), .D(s_c_2), .Z(seg_c_3));
    defparam i272_4_lut.INIT = "0x8942";
    (* lut_function="(A (B (C (D)))+!A (B (D)+!B !((D)+!C)))", lineinfo="@1(29[3],49[10])" *) LUT4 seg_c_2_I_0_4_lut (.A(s_c_0), 
            .B(s_c_3), .C(s_c_1), .D(s_c_2), .Z(seg_c_2));
    defparam seg_c_2_I_0_4_lut.INIT = "0xc410";
    (* lut_function="(!(A (B+!(C))+!A (B ((D)+!C)+!B !(C+(D)))))", lineinfo="@1(29[3],49[10])" *) LUT4 seg_c_4_I_0_4_lut (.A(s_c_1), 
            .B(s_c_3), .C(s_c_0), .D(s_c_2), .Z(seg_c_4));
    defparam seg_c_4_I_0_4_lut.INIT = "0x3170";
    (* lut_function="(!(A (B+!((D)+!C))+!A !(B (C (D))+!B !(C+!(D)))))", lineinfo="@1(29[3],49[10])" *) LUT4 seg_c_5_I_0_4_lut (.A(s_c_1), 
            .B(s_c_3), .C(s_c_2), .D(s_c_0), .Z(seg_c_5));
    defparam seg_c_5_I_0_4_lut.INIT = "0x6302";
    (* lut_function="(!(A ((C+!(D))+!B)+!A (B (C+(D))+!B !(C (D)+!C !(D)))))", lineinfo="@1(29[3],49[10])" *) LUT4 seg_c_6_I_0_4_lut (.A(s_c_1), 
            .B(s_c_0), .C(s_c_3), .D(s_c_2), .Z(seg_c_6));
    defparam seg_c_6_I_0_4_lut.INIT = "0x1805";
    
endmodule

//
// Verilog Description of module led_control
//

module led_control (input s_c_2, input s_c_3, output led_c_1, input s_c_0, 
            input s_c_1, output led_c_0);
    
    
    (* lut_function="(A (B))", lineinfo="@0(20[20],20[32])" *) LUT4 s_c_3_I_0_2_2_lut (.A(s_c_2), 
            .B(s_c_3), .Z(led_c_1));
    defparam s_c_3_I_0_2_2_lut.INIT = "0x8888";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@0(19[20],19[32])" *) LUT4 s_c_1_I_0_2_lut (.A(s_c_0), 
            .B(s_c_1), .Z(led_c_0));
    defparam s_c_1_I_0_2_lut.INIT = "0x6666";
    
endmodule
