/*-- scss:defaults --*/

#quarto-content {
  background-color: #15dcb1;
  font-family: 'Avenir', sans-serif !important;
  font-family: 'Times New Roman', sans-serif;
  font-size: 12;
  color: black;
}