/*-- navbar --*/

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    font-family:'Times New Roman';
    font-size: 0.6em;
  }
  
  @media (max-width: 991px) {
  .navbar-nav-scroll {
    background: #716ddf;
  }
  }
  
  #quarto-header {
    border-bottom: 1px solid black;
  }
  
  .navbar-brand.navbar-brand-logo {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 1em;
  }
  
  @media (max-width: 767px) {
    .navbar-brand.navbar-brand-logo {
      margin-left: 0;
  }
  }
  
  .navbar-logo {
    max-height: 2em;
    width: auto;
    align-items: baseline;
  }
  
  @media (max-width: 991px) {
  .navbar-logo {
    max-height: 1em;
    width: auto;
    align-items: baseline;
  }
  }
  
  .navbar-nav .nav-link {
    color: black;
    font-weight: 400;
  }
  
  .navbar-nav .nav-link:hover {
    color: #939bc9;
    font-weight: 400;
  }
  
  @media (max-width: 2000px) {
  .navbar-nav .nav-link {
    color: #0b36b6;
    font-weight: 400;
  }
  }
  
  .navbar-nav .show>.nav-link, .navbar-nav .active>.nav-link, .navbar-nav .nav-link.active {
    color: #939bc9;
  }
  
  .nav-item {
    margin-top: 0.01em; 
  }
  
  @media (max-width: 1200px) {
    .nav-item {
      margin-right: 0.5rem;
  }
  }
  
  @media (max-width: 991px) {
    .nav-item {
      margin-top: 0;
      margin-right: 0.5rem;
  }
  }
  
  .aa-DetachedSearchButton {
    margin-top: 0.5rem;
  }
  
  @media (max-width: 991px) {
    .aa-DetachedSearchButton {
      margin-top: 0;
  }
  }
  
  .dropdown-item {
    font-family:'Times New Roman';
    letter-spacing: 1px;
    display: block;
    width: 100%;
    padding: 0.5rem 0.5rem;
    clear: both;
    font-weight: 100;
    color: #716ddf;
    text-align: inherit;
    white-space: nowrap;
    background-color: rgba(0,0,0,0);
    border: 0;
  }

/*-- main content --*/

body.nav-fixed {
    background-color: #716ddf;
    position: fixed
  }
  
  #quarto-content {
    font-family: 'Times New Roman';
    background-color: #f0eeeb;
  }
  
  #quarto-content>* {
    padding-top: 2;
  }
  
  h2.anchored {
    margin-bottom: 0;
  }

  h2.text-heading-default{
    font-family: "Times New Roman";
  }


  /*-- nav footer styles --*/

  .nav-footer {
    color: white;
    font-family: 'Times New Roman' !important;
    font-weight: 400;
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
    padding-top: 1em;
  }
  
  body:not(.floating) .nav-footer {
    border-top: 1px solid #f0eeeb;
  }
  
  .nav-footer a {
    color: white;
    font-weight: 400;
  }
  
  .nav-footer a:hover {
    color: #939bc9;
  }
  
  .nav-footer-left .footer-items .nav-link, .nav-footer-center .footer-items .nav-link, .nav-footer-right .footer-items .nav-link {
    font-weight: 400;
  }
  
  .nav-footer-left .footer-items .nav-item, .nav-footer-center .footer-items .nav-item, .nav-footer-right .footer-items .nav-item {
    margin-top: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .nav-footer-left {
    font-family:'Times New Roman';
  }
  
  .nav-footer-right {
    font-family:'Times New Roman';
  }

  .quarto-grid-item p.card-img-top > img {
    object-position: top
  }